.calendar{
    width: 100%;
}

.calendarContainer{
    padding-top: 0px;
    display: flex;
    align-items: top;
    width: 100%;
}

.calendarTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}